@import "global.rasi"

* {
    font: "Font Awesome 48"; 
}

mainbox {
    enabled: true; 
    padding: 40% 13%; 
    children: ["listview"]; 
}

listview {
    columns: 4; 
    spacing: 2em; 
    flow: horizontal; 
    cycle: false; 
}

element {
    padding: 0.9em; 
}

element-text {
    horizontal-align: 0.5; 
}
