@define-color surface #fef7ff;
@define-color on-surface #1d1b20;
@define-color primary #6750a4;
@define-color on-primary #ffffff;
@define-color primary-container #eaddff;
@define-color on-primary-container #21005d;
@define-color secondary-container #e8def8;
@define-color on-secondary-container #1d192b;
@define-color error #b3261e;
